@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Noto Sans, Roboto, Open Sans, system-ui, "Inter", sans-serif !important;
}

.common-padding {
  @apply sm:py-32 py-20 sm:px-10 px-5
}

.common-padding-x {
  @apply sm:px-10 md:px-4 px-4 lg:px-6 xl:px-6
}

.common-padding-xy {
  @apply sm:px-10 md:px-4 px-4 lg:px-6 xl:px-6 py-4
}

.common-padding-y {
  @apply sm:px-10 md:px-6 px-0 xl:px-6 md:py-4
}

.common-spacing-x {
  @apply sm:px-10 md:px-5 px-0 xl:px-6
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1390px;
}

.btn_action::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: .0625rem;
  height: 100%;
  background-color: var(--color-background);
  transition: .3s ease;
}